[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "pytorch"

[packages]
flask = "*"
flask-cors = "*"
torch = {index = "pytorch",version = "==2.5.1+cu118"}
torchvision = {index = "pytorch",version = "==0.20.1"}
torchaudio = {index = "pytorch",version = "==2.5.1+cu118"}
opencv-python = "*"
opencv-python-headless = "*"
celery = "*"
psutil = "*"
redis = "*"
gevent = "*"
lightning = "*"
pytorchvideo = {git = "https://github.com/facebookresearch/pytorchvideo.git"}
ultralytics = "*"
flask-socketio = "*"
gevent-websocket = "*"
jsonpatch = "*"

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.10"
